.signup-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    height: fit-content;
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 20px 40px;
    border-radius: 10%;
}


.h1-txt {
    font-size: 30px;
    font-family: 'DMSans bold';
    line-height: 76px;
    letter-spacing: 0.5px;
    padding: 20px 20px;
    text-align: left;
    color: #486284;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

form input {
    font-family: 'DMSans', sans-serif;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 24px;
    color: #486284;
    text-decoration: none;
    margin-left: -15px;
    margin-right: 5px;
    padding-left: 20px;
    padding-right: 40px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid #486284;
    background: transparent;
}

form label {
    font-size: 16px;
    color: #8CA2C0;
    padding: 5px 0;
}

.a-css {
    text-decoration: none;
    font-size: 16px;
    color: #486284;
    font-family: 'DMSans', sans-serif;
    padding: 5px 0;
}

.button-style {
    border-radius: 50px;
    font-family: 'DMSans', sans-serif;
    font-size: 12px;
    padding: 0px;
    letter-spacing: 0.5px;
    line-height: 24px;
    color: #486284;
    text-decoration: none;
    border: 1px solid #486284;
    background-size: 200% 100%;
    background-position: right;
    transition: background-position 0.3s ease-in-out, color 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.button-style:hover {
    background-position: left;
    color: white;
    background: #486284;
}

.button-style:active {
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;

}


.buttons-div {
    display: flex;
    align-items: center;
    flex-direction: column;
}


@keyframes slide {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
