.font-nav {
    font-family: 'DMSans', sans-serif;
    font-size: 16px;
    gap: 48px;
    padding: 9px 48px;
    letter-spacing: 0.5px;
    line-height: 24px;
    color: #486284;
    text-decoration: none;
}

.flex-sm {
    display: flex;
}

.nav-bar {
    padding: 12px 48px;
    border-radius: inherit;
}

.nav-link {
    text-decoration: none;
    color: inherit;
}

.buttons-container {
    gap: 22px;
    padding: 0 20px;
}

.bars {
    display: none;
}

.flex-md {
    display: flex;
}

.button-style {
    border-radius: 50px;
    font-family: 'DMSans', sans-serif;
    font-size: 16px;
    gap: 10px;
    padding: 9px 20px;
    letter-spacing: 0.5px;
    line-height: 24px;
    color: #486284;
    text-decoration: none;
    border: 1px solid #486284;
    background: transparent;
    text-align: center;


}

.mobile-show {
    display: none;
}

@media screen and (max-width: 860px) {
    .bars {
        display: block;
        font-size: 20px;
        padding: 3px 0;
    }

    .flex-md {
        display: none;
    }

    .mobile-show {
        background: #ADBDD2;
        height: 100%;
        width: 100%;
        flex-direction: column;
        position: fixed;
        z-index: 100000;
    }

    .nav-bar {
        display: none;
    }

    .font-nav {
        font-size: 26px;
        gap: 78px;
        padding: 9px 78px;
    }
}

@media screen and (max-width: 521px) {
    .flex-sm {
        display: none;
    }
}
