.font-nav {
    font-family: 'DMSans', sans-serif;
    font-size: 16px;
    gap: 48px;
    padding-left: 48px;
    padding-right: 48px;
    letter-spacing: 0.5px;
    line-height: 24px;
    color: #486284;
    text-decoration: none;
    padding-top: 9px;
    padding-bottom: 9px;
}
.flex-sm{
    display: flex;
}

.nav-bar {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 48px;
    padding-right: 48px;
    border-radius: inherit;
}

.nav-link {
    text-decoration: none;
    color: inherit;
}

.buttons-container {
    gap: 22px;
    padding-left: 20px;
    padding-right: 20px;
}

.bars {
    display: none;
}
.flex-md{
    display: flex;
}

.button-style {
    border-radius: 50px;
    font-family: 'DMSans', sans-serif;
    font-size: 16px;
    gap: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 0.5px;
    line-height: 24px;
    color: #486284;
    text-decoration: none;
    border: 1px solid #486284;
    background: transparent;
}

.mobile-show{
   display: none;
}


@media screen and (max-width: 860px) {
    .bars {
        display: block;
        font-size: 20px;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .flex-md{
        display: none;
    }
    .mobile-show{
        background: #ADBDD2;
        height: 100%;
        width: 100%;
        flex-direction: column;
        position: fixed;
        z-index: 100000;
    }


    .nav-bar {
        display: none;
    }
    .font-nav {
        font-size: 26px;
        gap: 78px;
        padding-left: 78px;
        padding-right: 78px;
        letter-spacing: 0.5px;
        line-height: 24px;
        color: #486284;
        text-decoration: none;
        padding-top: 9px;
        padding-bottom: 9px;
    }


}


@media screen and (max-width: 521px) {

    .flex-sm{
        display: none;
    }

}
