.hero-div {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-right: 10px;
    padding-left: 10px;
}



.hero-text {
    width: 612px;

}
.hero-buttons{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.hero-text p {
    font-size: 20px;
    color: #8CA2C0;
    padding-top: 18px;
    padding-bottom: 18px;
}

.hero-top {
    gap: 40px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: row;
}

h1 {
    text-decoration: none;
    font-size: 60px;
    font-family: 'DMSans bold';
    line-height: 76px;
    letter-spacing: 0.5px;
    padding-top: 8px;
}

.button-style {
    border-radius: 50px;
    font-family: 'DMSans', sans-serif;
    font-size: 16px;
    gap: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 0.5px;
    line-height: 24px;
    color: #486284;
    text-decoration: none;
    border: 1px solid #486284;
    background: transparent;
}



@media screen and (max-width: 1235px) {
    .hero-top {
        display: flex;
        flex-direction: column;

    }
    .hero-div {
        padding-top: 48px;
        padding-bottom: 48px;
        display: flex;
        flex-direction: column;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-right: 24px;


    }
    .hero-buttons{
        flex-direction: column;
        gap:16px;

    }


}


@media screen and (max-width: 637px) {
    .hero-div {
        padding-top: 48px;
        padding-bottom: 48px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-right: 24px;
        padding-left: 24px;
    }




    .hero-text {
        width: 542px;

    }

    .hero-text p {
        font-size: 16px;
        color: #8CA2C0;
        line-height: 24px;
        padding-top: 18px;
        padding-bottom: 18px;
    }

}


@media screen and (max-width: 575px) {
    .hero-div {
        padding-top: 48px;
        padding-bottom: 48px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-right: 24px;
        padding-left: 24px;
    }
    #heroimg{
        width: 342px;
    }
    h1 {
        text-decoration: none;
        font-size: 32px;
        font-family: 'DMSans bold';
        line-height: 40px;
        letter-spacing: 0.5px;
        padding-top: 8px;
    }

    .hero-text {
        width: 342px;

    }

    .hero-text p {
        font-size: 16px;
        color: #8CA2C0;
        line-height: 24px;
        padding-top: 18px;
        padding-bottom: 18px;
    }

}
